{%if message %}
<script>
    alert('{{message}}');
</script>
{%endif%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add students
    </title>

</head>
<h1>Add Students to class</h1>
<body>
    <form action="/addclass/" method="post" >
        {% csrf_token %}
        {{form.as_p}}
        
        <button type="submit" value="signin" >Add</button>
        </form>
</body>
</html>