<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Admin Panel</title>
</head>
<body>
<body style="background-color:pink;">
    Welcome to the Admin Panel<br>
    <a href="{%url 'role'%}" style="color: black">Create Roles</a><br>
    <a href="{%url 'Cuser'%}" style="color: black">Create User</a><br>
    <a href="{%url 'ccreate'%}" style="color: black">Add to Class</a><br>
    <a href="{%url 'JV'%}" style="color: black">Check if Face Detection and Recognitions is 
        Still Workings</a><br>
        <a href="{%url 'logout'%}" style="color: black">logout</a><br>
</body>
</html>