<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
</head>
<h1>Login</h1>
<body>
    <form action="/addash/" method = "post">
        {% csrf_token %}
      Email: 
<input type="email" name = "email" required>
      Password: 
<input type="password" name = "password" required>
<input type="submit" value = "SignIn">
    </form>
    <form action="/reset" method = 'GET'>
        <button type = submit>Reset Password</button>
</form>
{{name}}
</body>
</html>